/*======= index.html =======*/

#page1 .row-1 .col-1 {width: 222px; padding: 0 45px 0 0;}
#page1 .row-1 .col-2 {width: 218px;}

#page1 .row-2 .col-1 {width: 222px; padding: 0 44px 0 0;}
#page1 .row-2 .col-2 {width: 219px;}

/*======= index-1.html =======*/

#page2 .row-1 .col-1 {width: 222px; padding: 0 45px 0 0;}
#page2 .row-1 .col-2 {width: 218px;}

#page2 .row-2 .col-1 {width: 222px; padding: 0 44px 0 0;}
#page2 .row-2 .col-2 {width: 219px;}

/*======= index-2.html =======*/

#page3 .row-1 .col-1 {width: 222px; padding: 0 45px 0 0;}
#page3 .row-1 .col-2 {width: 218px;}

#page3 .row-2 .col-1 {width: 222px; padding: 0 44px 0 0;}
#page3 .row-2 .col-2 {width: 219px;}

/*======= index-3.html =======*/

#page4 .row-1 .col-1 {width: 222px; padding: 0 45px 0 0;}
#page4 .row-1 .col-2 {width: 218px;}

#page4 .row-2 .col-1 {width: 222px; padding: 0 44px 0 0;}
#page4 .row-2 .col-2 {width: 219px;}

/*======= index-4.html =======*/

#page5 .row-1 .col-1 {width: 222px; padding: 0 45px 0 0;}
#page5 .row-1 .col-2 {width: 218px;}

#page5 .row-2 .col-1 {width: 222px; padding: 0 44px 0 0;}
#page5 .row-2 .col-2 {width: 219px;}