* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.clear {
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}

input, select {
	vertical-align: middle;
	font-weight: normal;
}

img {
	border: 0;
	vertical-align: top;
	text-align: left;
}

ul, ol {
	list-style: none;
}

object {
	vertical-align: top;
	outline: none;
}

a {
	outline: none;
	color: #4f5152;
}

	a:hover {
		text-decoration: none;
	}

html {
	min-width: 980px;
}

body {
	background: #fff url(../images/body-tail.gif) repeat-x 0% 0%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	/*color: #393939;*/
	color:333;
}

h1 {
	padding: 0 0 10px 0;
	letter-spacing: -1px;
	line-height: 1em;
	font-size: 4em;
	font-weight: 400;
	color: #333;
}
	h1 a
	{
		text-decoration: none;
	}
	h1 a:hover 
	{
		text-decoration: underline;
		color: #FF9900;
	}

h2 {
	padding: 0 0 10px 0;
	letter-spacing: -2px;
	line-height: 1.25em;
	font-size: 2.25em;
	font-weight: 400;
	color: #444;
}

	h2 em {
		display: block;
		margin: 0 0 -4px 0;
		font-style: normal;
	}
	
	h2 strong {
		display: block;
		padding: 0 0 6px 0;
		font-weight: normal;
	}

h4 {
	padding: 1px 0 2px 0;
	line-height: 1.75em;
	font-size: 1.25em;
	font-style: italic;
	color: #666;
}

	h4 a {
		color: #666;
	}

h5 {
	line-height: 1.75em;
	font-size: 1em;
	color: #666;
}

	h5 a {
		color: #888;
	}

h6 {
	/*padding: 1px 0 19px 0*/
	padding: 1px 0 15px 0;
	line-height: 1.75em;
	/*font-size: 1.2em;*/
	font-size:1.1em;
	color: #00466E;
}

.fleft {
	float: left;
}

	img.fleft {
		margin: 0 15px 0 0;
	}
	
	img.fleft1 {
		float: left;
		margin: 5px 16px 21px 1px;
	}
	
	img.fleft2 {
		float: left;
		margin: 5px 16px 18px 1px;
	}

.fright {
	float: right;
}

	ul.fright {
		padding: 1px 8px 18px 0 !important;
	}

.col-1, .col-2, .col-3, .col-4 {
	float: left;
	overflow: hidden;
}

.block-1, .block-2, .block-3, .block-4 {
	float: left;
	overflow: hidden;
}

#main {
	width: 980px;
	margin: 0 auto;
	font-size: 0.75em;
}

#header {
	background: url(../images/line-hor.gif) repeat-x 0% 180px;
	position: relative;
	width: 100%;
	height: 181px;
	overflow: hidden;
}

	#page1 #header {
		background: url(../images/header.jpg) no-repeat 0% 180px;
		height: 456px;
	}

#logo {
	position: absolute;
	top: 36px;
	left: 1px;
}

#navi {
	position: absolute;
	top: 54px;
	right: 2px;
}

	#navi li {
		float: left;
		padding: 0 0 0 17px;
	}
	
		#navi li img {
			float: left;
			margin: 2px 4px 0 0;
		}
	
		#navi li a {
			text-decoration: none;
			color: #858585;
		}
		
		#navi li a:hover {
			text-decoration: underline;
		}

#menu {
	position: absolute;
	top: 146px;
	left: -15px;
}

	#menu li {
		background: url(../images/menu-divider.gif) no-repeat 0% 7px;
		float: left;
		padding: 0 22px 0 24px;
		font-size: 1.25em;
		color: #333;
	}
	
		#menu li a {
			text-decoration: none;
			color: #333;
		}
		
		#menu li a:hover {
			text-decoration: underline;
			color: #26517e;
		}

.menu {
	position: absolute;
	top: 146px;
	left: -15px;
}

	.menu li {
		background: url(../images/menu-divider.gif) no-repeat 0% 7px;
		float: left;
		padding: 0 22px 0 24px;
		font-size: 1.25em;
		color: #000;
	}
	
		.menu li a {
			text-decoration: none;
			color: #000;
		}
		
		.menu li a:hover {
			text-decoration: underline;
		}
#search-form {
	width: 229px;
	height: 21px;
	position: absolute;
	top: 142px;
	right: 2px;
}

	#search-form span {
		display: block;
		width: 50px;
		height: 21px;
		float: left;
		overflow: hidden;
		line-height: 18px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.083em;
		color: #464545;
	}
	
	#search-form strong {
		background: url(../images/search-input.gif) no-repeat 0% 0%;
		display: block;
		width: 142px;
		height: 21px;
		overflow: hidden;
		float: left;
		font-weight: normal;
	}
	
	#search-form input {
		background: none;
		width: 136px;
		height: 15px;
		padding: 3px 3px 3px 3px;
		border: none;
		float: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#search-form input#search-submit {
		background: url(../images/search-submit.gif) no-repeat 0% 0%;
		width: 30px;
		height: 21px;
		padding: 0;
		border: none;
		float: left;
		margin: 0 0 0 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
	}

#slogan {
	position: absolute;
	top: 260px;
	left: 42px;
}

#head-link {
	background: url(../images/arrow.gif) no-repeat 100% 8px;
	display: inline-block;
	padding: 0 6px 0 0;
	line-height: 1.5em;
	text-decoration: none;
	color: #000;
	position: absolute;
	top: 373px;
	left: 44px;
}

	#head-link:hover {
		text-decoration: underline;
	}

#pages {
	position: absolute;
	top: 421px;
	left: 44px;
}

	#pages li {
		float: left;
		padding: 0 10px 0 0;
	}
	
		#pages li a {
			background: url(../images/page-bg.gif) no-repeat 0% 0%;
			display: block;
			width: 18px;
			height: 18px;
			overflow: hidden;
			float: left;
			line-height: 16px;
			text-align: center;
			text-decoration: none;
			font-family: Verdana, Geneva, sans-serif;
			color: #707371;
		}
		
		#pages li a:hover {
			color: #02adf9;
		}
	
		#pages li.act a {
			color: #02adf9;
		}

#content {
	width: 100%;
	padding: 0 0 33px 0;
}

	#content #indent {
		padding: 9px 0 0 0;
	}
	
	#content #indent-1 {
		padding: 26px 0 0 0;
	}
	
	#content p {
		padding: 0 0 14px 0;
		line-height: 1.75em;
		font-size: 1em;
		color: #555;
	}

	#content p strong {
		font-size: 1.25em;
	}
	
	#content p.extra {
		padding: 0 0 19px 0;
	}
	
	#content p.extra1 {
		padding: 0 0 21px 0;
	}
	
		#content p em {
			font-weight: bold;
		}
		
		#content p big {
			display: block;
			padding: 11px 0 0 0;
			font-size: 1em;
		}
		
		#content p strong a {
			color: #555;
		}
		
		#content p b {
			color: #02adf9;
		}
		
			#content p b a {
				font-weight: normal;
				color: #02adf9;
			}

#column-left {
	float: left;
	width: 429px;
	padding: 0 25px 0 16px;
}

#column-right {
	float: left;
	width: 510px;
}

.row-1 {
	background: url(../images/line-hor.gif) repeat-x 0% 100%;
	margin: 0 0 12px 0;
	padding: 0 0 27px 25px;
}

.row-2 {
	padding: 0 0 0 25px;
}

.link {
	background: url(../images/arrow-1.gif) no-repeat 100% 6px;
	padding: 0 6px 0 0;
	float: left;
	line-height: 1.25em;
	font-size: 1em;
	text-decoration: none;
	color: #6a6a6a;
}

	.link:hover {
		text-decoration: underline;
	}

.link-indent {
	margin: 0 0 20px 0;
}

.link-indent1 {
	margin: 0 0 38px 0;
}

.list {
	padding: 1px 0 14px 0;
	overflow: hidden;
}

	.list li {
		background: url(../images/marker.gif) no-repeat 0% 10px;
		padding: 0 0 0 17px;
		line-height: 2.25em;
		font-size: 1em;
		color: #666;
	}
	
		.list li a {
			color: #666;
		}

.list-1 {
	background: url(../images/line-hor.gif) repeat-x 0% 100%;
	width: 100%;
	margin: 0 0 26px 0;
	padding: 0 0 28px 0;
	overflow: hidden;
}

	.list-1 li {
		float: left;
		width: 188px;
		padding: 0 10px 0 0;
		line-height: 1.667em;
		font-size: 1em;
		color: #535353;
	}
	
	.list-1 li.last {
		padding: 0;
	}
	
		.list-1 li img {
			margin: 0 0 21px 0;
		}
	
		.list-1 li strong {
			font-size: 1.5em;
			display: block;
			padding: 0 0 0 9px;
			color: #007BC0;
		}
		
			.list-1 li strong a {
				text-decoration: none;
				color: #007BC0;
			}
			
			.list-1 li strong a:hover {
				text-decoration: underline;
			}
			
		.list-1 li p {
			padding: 0 0 0 9px !important;
			line-height: 1.667em !important;
			font-size: 1em !important;
			color: #535353 !important;
		}

.list-2 {
	padding: 2px 0 27px 0;
	overflow: hidden;
}

	.list-2 li {
		background: url(../images/marker.gif) no-repeat 0% 10px;
		padding: 0 0 0 17px;
		line-height: 2.25em;
		font-size: 1em;
		color: #02adf9;
	}
	
		.list-2 li a {
			color: #02adf9;
		}

.list-3 {
	margin: 0 0 -1px 0;
	padding: 1px 0 0 0;
	overflow: hidden;
	line-height: 1.75em;
	font-size: 1em;
	color: #999898;
}

	.list-3 dt {
		padding: 0 0 2px 0;
		font-weight: bold;
		font-style: italic;
		color: #999898;
	}
	
		.list-3 dt a {
			color: #999898;
		}
		
	.list-3 dd {
		padding: 0 0 15px 0;
	}

.list-4 {
	width: 100%;
	padding: 1px 0 0 0;
	overflow: hidden;
}

	.list-4 li {
		width: 100%;
		padding: 0 0 16px 0;
		overflow: hidden;
		vertical-align: top;
		line-height: 1.75em;
		font-size: 1em;
		/*color: #999898;*/
		color:777;
	}
	
		.list-4 li img {
			float: left;
			margin: 5px 16px 0 1px;
		}
		
		.list-4 li strong {
			display: block;
			color: #02adf9;
		}
		
		.list-4 li p {
			padding: 0 0 14px 0 !important;
			line-height: 1.75em !important;
			font-size: 1em !important;
			/*color: #999898 !important;*/
			color:777;
		}

		.list-4 li a {
			background: url(../images/arrow-1.gif) no-repeat 100% 6px;
			padding: 0 6px 0 0;
			float: left;
			line-height: 1.25em;
			font-size: 1em;
			text-decoration: none;
			color: #6a6a6a;
		}
		
			.list-4 li a:hover {
				text-decoration: underline;
			}

.list-5 {
	margin: 0 0 -17px 0;
	padding: 10px 0 0 0;
	overflow: hidden;
	line-height: 1.75em;
	font-size: 1em;
	color: #999898;
}

	.list-5 dt {
		width: 100%;
		padding: 0 0 2px 0;
		overflow: hidden;
		font-style: italic;
		font-weight: bold;
	}
	
		.list-5 dt img {
			margin: 0 0 16px 0;
		}
	
		.list-5 dt a {
			float: left;
			color: #999898;
		}
		
	.list-5 dd {
		width: 100%;
		padding: 0 0 19px 0;
		overflow: hidden;
	}
	
	.list-5 dd.extra {
		padding: 0 0 14px 0;
	}
	
		.list-5 dd strong {
			display: block;
			width: 100%;
			padding: 12px 0 0 0;
			overflow: hidden;
			font-weight: normal;
		}
	
		.list-5 dd a {
			background: url(../images/arrow-1.gif) no-repeat 100% 6px;
			padding: 0 6px 0 0;
			float: left;
			line-height: 1.25em;
			font-size: 1em;
			text-decoration: none;
			color: #6a6a6a;
		}
		
			.list-5 dd a:hover {
				text-decoration: underline;
			}

.list-6 {
	padding: 0 0 1px 0;
	overflow: hidden;
	line-height: 1.75em;
	font-size: 1em;
	color: #999898;
}

	.list-6 dt {
		padding: 0 0 2px 0;
		font-weight: bold;
		font-style: italic;
		color: #999898;
	}
	
		.list-6 dt a {
			color: #999898;
		}
		
	.list-6 dd {
		padding: 0 0 15px 0;
	}
	
		.list-6 dd a {
			color: #02adf9;
		}

.list-7 {
	width: 100%;
	margin: 0 0 -26px 0;
	overflow: hidden;
}

	.list-7 li {
		width: 100%;
		padding: 0 0 25px 0;
		overflow: hidden;
		vertical-align: top;
		line-height: 1.75em;
		font-size: 1em;
		color: #999898;
	}
	
		.list-7 li img {
			float: left;
			margin: 0 17px 11px 0;
		}
		
		.list-7 li strong {
			display: block;
			padding: 13px 0 0 0;
			text-transform: uppercase;
			line-height: 1.5em;
			font-size: 1em;
			color: #999898;
		}
		
			.list-7 li strong a {
				text-decoration: none;
				color: #999898;
			}
			
			.list-7 li strong a:hover {
				text-decoration: underline;
			}
		
		.list-7 li em {
			display: block;
			margin: -2px 0 0 0;
			font-weight: bold;
			color: #999898;
		}
		
		.list-7 li p {
			background: url(../images/pic-2.gif) no-repeat 4px 0%;
			text-indent: 45px;
			padding: 5px 0 0 0 !important;
			line-height: 1.75em !important;
			font-size: 1em !important;
			color: #999898 !important;
		}

.list-8 {
	overflow: hidden;
	margin: 0 0 -19px 0;
	padding: 1px 0 0 0;
	line-height: 1.75em;
	font-size: 1em;
	color: #999898;
}

	.list-8 dt {
		font-weight: bold;
	}
	
	.list-8 dd {
		padding: 0 0 19px 0;
	}
	
		.list-8 dd a {
			color: #02adf9;
		}

.list-9 {
	overflow: hidden;
	margin: 0 0 -3px 0;
	padding: 1px 0 0 0;
	line-height: 1.75em;
	font-size: 1em;
	color: #999898;
}

	.list-9 dt {
		padding: 0 0 2px 0;
		font-weight: bold;
		font-style: italic;
	}
	
		.list-9 dt a {
			text-decoration: none;
			color: #999898;
		}
		
		.list-9 dt a:hover {
			text-decoration: underline;
		}
	
	.list-9 dd {
		padding: 0 0 15px 0;
	}
	
		.list-9 dd a {
			color: #02adf9;
		}

.list-indent {
	padding: 2px 0 20px 0 !important;
}

.list-indent1 {
	padding: 1px 0 24px 0 !important;
}

.info-box {
	width: 100%;
	padding: 0 0 14px 0;
	overflow: hidden;
}

	.info-box img {
		float: left;
		margin: 0 16px 11px 0;
	}
	
	.info-box strong {
		display: block;
		padding: 13px 0 0 0;
		text-transform: uppercase;
		line-height: 1.5em;
		font-size: 1em;
		color: #888;
	}
	
	.info-box em {
		display: block;
		line-height: 1.5em;
		font-weight: bold;
		color: #888;
	}
	
	.info-box p {
		background: url(../images/pic-2.gif) no-repeat 5px 0%;
		padding: 7px 0 0 0 !important;
		text-indent: 45px;
		line-height: 1.75em !important;
		font-size: 1em !important;
		color: #888 !important;
	}

.indent-bot {
	margin: 0 0 16px 0;
}

.no-indent {
	margin: 0 !important;
	padding: 0 !important;
}

#contact-form {
	width: 219px;
}

	#contact-form label {
		display: block;
		width: 100%;
		height: 45px;
		overflow: hidden;
	}
	
	#contact-form  span {
		display: block;
		padding: 0 0 2px 0;
		line-height: 1em;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #999898;
	}
	
	#contact-form input {
		background: none;
		width: 211px;
		height: 17px;
		padding: 3px 3px 3px 3px;
		float: left;
		border: 1px solid #c6c6c6;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}
	
	#contact-form textarea {
		background: none;
		width: 211px;
		height: 226px;
		padding: 3px 3px 3px 3px;
		float: left;
		overflow: auto;
		border: 1px solid #c6c6c6;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #000;
	}

	#contact-form a {
		background: url(../images/arrow-1.gif) no-repeat 100% 6px;
		margin: 16px 0 0 16px;
		padding: 0 6px 0 0;
		float: right;
		line-height: 1.25em;
		font-size: 1em;
		text-decoration: none;
		color: #6a6a6a;
	}
	
		#contact-form a:hover {
			text-decoration: underline;
		}

.privacy {
	margin: 0 0 -3px 0;
	padding: 27px 0 0 16px;
}

	.privacy p {
		padding: 0 0 19px 0 !important;
	}
	
	.privacy p.no-indent {
		padding: 0 !important;
	}
	
		.privacy p a {
			color: #02adf9;
		}

#footer {
	background: url(../images/footer-tail.gif) repeat-x 0% 0%;
	height: 126px;
	overflow: hidden;
}

	#footer strong {
		display: block;
		width: 207px;
		float: right;
		padding: 28px 0 0 0;
		line-height: 1.333em;
		font-weight: normal;
		color: #a1a1a1;
	}
	
		#footer strong b {
			display: block;
			padding: 0 0 9px 0;
			line-height: 1.231em;
			font-size: 1.083em;
			font-weight: normal;
			color: #6a6a6a;
		}
		
	#footer em {
		display: block;
		width: 143px;
		float: right;
		padding: 28px 10px 0 0;
		line-height: 1.333em;
		font-style: normal;
		color: #a1a1a1;
	}
	
		#footer em i {
			display: block;
			padding: 0 0 9px 0;
			line-height: 1.231em;
			font-size: 1.083em;
			font-style: normal;
			color: #6a6a6a;
		}
		
	#footer .bot-box {
		width: 117px;
		float: right;
		padding: 28px 10px 0 0;
		line-height: 1.333em;
		font-size: 1em;
		color: #a1a1a1;
	}
	
		#footer .bot-box small {
			display: block;
			padding: 0 0 9px 0;
			line-height: 1.231em;
			font-size: 1.083em;
			color: #6a6a6a;
		}
		
		#footer .bot-box ul {
			width: 100%;
			overflow: hidden;
		}
		
			#footer .bot-box ul li {
				float: left;
				padding: 0 6px 0 0;
			}
			
	#footer p {
		width: 460px;
		float: left;
		padding: 7px 0 0 16px;
		line-height: 1.5em;
		font-size: 1em;
		color: #9c9c9c;
	}
	
		#footer p span {
			padding: 0 6px 0 0;
			color: #4f4f4f;
		}
		
		#footer p b {
			padding: 0 3px 0 0;
			font-weight: normal;
		}
		
		#footer p a {
			margin: 0 0 0 3px;
			color: #9c9c9c;
		}
			
#menu-bot {
	float: left;
	padding: 28px 0 0 17px;
}

	#menu-bot li {
		float: left;
		padding: 0 30px 0 0;
		line-height: 1.5em;
		font-size: 1em;
		/*color: #a1a1a1;*/
		color:#888;
	}
	
		#menu-bot li a {
			/*color: #a1a1a1;*/
			color:#888;

		}